@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/*CSS reset*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/*------------*/

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    font-family: "Rubik";
    color: white;
    background-color: black;
}

.game-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 3rem;
    width: 100%;
}

@media (max-width: 480px) {
    .game-box {
        flex-direction: column;
        justify-content: center;
        height: 100dvh;
    }

    .wordle-grid-box {
        min-width: 95dvw;
    }

    .game-settings {
        min-width: 100dvw;
        height: 100dvh;
    }

    .wordle-row-item {
        max-height: 80%;
    }

    .keyboard {
        width: 100dvw;
        position: fixed;
        gap: 0;
    }
}

/*-----------------------*/

.game-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55dvw;
    min-height: 55dvh;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
    backdrop-filter: blur(20px);
}

.setting {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid rgba(200, 200, 200, 0.2);
    font-size: 2rem;
    overflow-wrap: break-word;
    width: 50%;
}

.start-button {
    font-weight: bold;
    padding: 1rem 3rem;
    font-size: 2.5rem;
}

.start-button:hover {
    cursor: pointer;
}

/*----------------------*/

.wordle-grid-box {
    display: grid;
    justify-content: center;
    gap: 1rem;
    border: 2px solid white;
    border-radius: 4px;
    overflow: hidden;
    padding: 3%;
    max-width: 50%;
    height: 50dvh;
}

.wordle-row {
    display: grid;
    width: auto;
    gap: 0.5rem;
}

.wordle-row-item {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    outline: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-size: calc(1rem + 1vw);
}

/*----------*/

.wrong-place {
    transition: background-color 1s linear;
    background-color: sandybrown;
    border: none;
}

.correct-place {
    transition: background-color 1s linear;
    background-color: green;
    border: none;
}

.unavailable {
    transition: background-color 1s linear;
    background-color: dimgray;
    border: none;
}

.keyboard {
    position: relative;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}

.Z-key {
    grid-row: 3;
    grid-column: 1;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 2px solid white;
    font-size: 1rem;
    height: 3rem;
    width: 2rem;
    cursor: pointer;
}

.key:hover,
.icon:hover {
    font-weight: bold;
    opacity: 0.8;
}

.key:active,
.icon:active {
    transform: scale(0.9);
}

.icon {
    order: 2;
    cursor: pointer;
}

.hidden {
    display: none;
}

.not-included {
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
    opacity: 0.7;
}

@keyframes errorRowAnimation {
    0% {
        background-color: rgba(255, 0, 0, 0.2);
    }
    100% {
        background-color: black;
    }
}

@keyframes winRowAniamtion {
    0% {
        background-color: rgba(0, 200, 0, 0.2);
    }
    100% {
        background-color: black;
    }
}

@keyframes submitRowAniamtion {
    0% {
        background-color: rgba(0, 0, 0, 0.2);
    }
    100% {
        background-color: black;
    }
}

.error-animation {
    animation: errorRowAnimation 1s linear;
}

.submit-animation {
    animation: submitRowAnimation 1s linear;
}

.removed-key {
    border: 1px solid grey;
    opacity: 0.5;
    cursor: not-allowed;
}

.hidden {
    display: none;
}
