@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    background-color: #000;
    font-family: "Atkinson Hyperlegible Mono";
}

.container {
    display: flex;
    justify-content: center;
    max-width: 50dvw;
    text-align: center;
    @media (max-width: 882px) {
        flex-direction: column;
        min-width: 100dvw;
    }
}

.wordle__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    font-weight: 500;
}

.wordle__row {
    display: flex;
    gap: 1em;
}

.wordle__row__item {
    border: 1px solid slategray;
    display: inline;
    font-size: 2.5rem;
    padding: 0 0.5em;
    @media (max-width: 882px) {
        font-size: 2rem;
    }
}

.keyboard {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(10, 1fr);
    font-size: 1.3rem;
    padding: 0 0.5em;
    gap: 0.2em;
    @media (max-width: 882px) {
        font-size: 1rem;
    }
}

.keyboard__key {
    cursor: pointer;
    padding: 0.5em;
    border: 1px solid lightslategray;
    transition: background 0.1s ease-in-out;
}

.keyboard__key:hover {
    background: slategrey;
}

.enter-icon,
.backspace-icon {
    align-self: center;
    stroke: white;
    stroke-width: 1;
    cursor: pointer;
}

.enter-icon:hover,
.backspace-icon:hover {
    opacity: 0.7;
}

.enter-icon {
    grid-area: 3/10/4/11;
}

.backspace-icon {
    grid-area: 2/10/3/11;
}

.wordle__modal {
    backdrop-filter: blur(10px);
    color: white;
    background: none;
    width: 30%;
}
.wordle__modal::backdrop {
    backdrop-filter: blur(2px);
}

.empty {
    animation-name: empty__row__zoom;
    animation-duration: 2s;
}
@keyframes empty__row__zoom {
    0% {
    }
    50% {
        transform: scale(1.1);
        background-color: rgba(255, 0, 0, 0.4);
    }
    100% {
    }
}

.win {
    animation-fill-mode: forwards;
    animation: win__row__zoom;
    animation-duration: 2s;
}
@keyframes win__row__zoom {
    0% {
    }
    70% {
        transform: scale(1.1);
        background-color: rgb(154, 239, 255, 0.7);
    }
    100% {
    }
}

.dialog__indicator__button {
    color: red;
}

.hidden {
    display: none;
}
